.profile-image {
    width: 250px !important;
    height: 250px !important;
    padding-bottom: 10px;
  }

  .card {
    align-items: center;
    text-align: center;
  }

  h2 {
    text-align: center;
    padding-top: 40px;
  }