// img {
//     width: auto;
//     height: 500px; /* Maintain aspect ratio */

//   }
// REMOVE FAVE BUTTON
.remove-fav-button {
    background-color: rgb(209, 56, 56) !important;
    color: white !important;
    border: none !important;
    cursor: pointer !important;
  }
  